In [47]:
import pandas as pd 
import tensorflow as tf
import sklearn

In [48]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [49]:
base = pd.read_csv('autos.csv', encoding ='ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [50]:
base  = base.drop('dateCrawled', axis=1)
base = base.drop('dateCreated', axis=1)
base = base.drop('nrOfPictures', axis=1)
base = base.drop('postalCode', axis=1)
base = base.drop('lastSeen', axis=1)
base

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [51]:
base['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [52]:
base = base.drop('name', axis=1)

In [53]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [54]:
base = base.drop('seller', axis=1)

In [55]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [56]:
base = base.drop('offerType', axis=1)

In [57]:
base.loc[base['price']<= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [58]:
base = base[base['price'] > 10]

In [59]:
base.shape

(359410, 12)

In [60]:
base.loc[base['price'] >350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [61]:
base = base.loc[base['price'] < 350000]

In [62]:
base.shape

(359291, 12)

In [63]:
base.loc[pd.isnull(base['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [64]:
base['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [65]:
 base['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [68]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [69]:
base['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [70]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [71]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [73]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [74]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [75]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [76]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [77]:
valore = {
    'vehicleType': 'limousine',
    'gearbox': 'manuell',
    'model': 'golf',
    'fuelType': 'benzin',
    'notRepairedDamage': 'nein'
}

In [78]:
base = base.fillna(value = valore)

In [84]:
base.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [95]:
X = base.iloc[:,1:12].values

In [96]:
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [98]:
y = base.iloc[:,0].values

In [99]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

In [100]:
base['brand'].value_counts()

brand
volkswagen        76755
bmw               38982
opel              38557
mercedes_benz     34498
audi              31884
ford              24761
renault           17367
peugeot           10777
fiat               9339
seat               6815
skoda              5572
mazda              5529
smart              5159
citroen            5038
nissan             4893
toyota             4616
hyundai            3585
mini               3354
sonstige_autos     3331
volvo              3229
mitsubishi         2956
honda              2726
kia                2494
suzuki             2274
alfa_romeo         2250
porsche            2154
chevrolet          1791
chrysler           1373
dacia               889
jeep                784
daihatsu            774
land_rover          759
subaru              746
jaguar              603
daewoo              530
saab                516
trabant             489
lancia              467
rover               462
lada                213
Name: count, dtype: int64

In [101]:
onehotencoder = ColumnTransformer(transformers=[('Onehot', OneHotEncoder(), [0,1,3,5,8,9,10])], remainder='passthrough')

In [102]:
X = onehotencoder.fit_transform(x).toarray()

In [103]:
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [105]:
X.shape

(359291, 316)

In [109]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316,)),
    tf.keras.layers.Dense(units =158, activation= 'relu'),
    tf.keras.layers.Dense(units =158, activation= 'relu'),
    tf.keras.layers.Dense(units =1, activation= 'linear')
])

In [110]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [115]:
# Compilar o modelo com a função de perda correta
regressor.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mean_absolute_error'])

In [116]:
regressor.fit(X, y,  batch_size = 300 , epochs = 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4186.8926 - mean_absolute_error: 4186.8926
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 3394.1772 - mean_absolute_error: 3394.1772
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 3062.4526 - mean_absolute_error: 3062.4526
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2902.8396 - mean_absolute_error: 2902.8394
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2794.2703 - mean_absolute_error: 2794.2703
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2749.2793 - mean_absolute_error: 2749.2793
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2732.2166 - mean_absolute_error: 2732.2166
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2671.5762 - mean_absolute_error: 2671.5762
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2640.9788 - mean_absolute_error: 2640.9788
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2573.8850 - mean_absolute_error: 2573.8850
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2568.4238 - mean_absolute_error: 2568.4238
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2520.3250 - mean_absolute_error: 2520.3250
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2497.4241 - mean_absolute_error: 2497.4241
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2496.3376 - mean_absolute_error: 2496.3376
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2444.0969 - mean_absolute_error: 2444.0969
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2454.1443 - mean_absolute_error: 2454.1443
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2480.3020 - mean_absolute_error: 2480.3020
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2429.8267 - mean_absolute_error: 2429.8267
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2439.8918 - mean_absolute_error: 2439.8918
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2427.9226 - mean_absolute_error: 2427.9226
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2404.1106 - mean_absolute_error: 2404.1106
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2405.5703 - mean_absolute_error: 2405.5703
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2408.0217 - mean_absolute_error: 2408.0217
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2407.1885 - mean_absolute_error: 2407.1885
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2379.0618 - mean_absolute_error: 2379.0618
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2383.1174 - mean_absolute_error: 2383.1174
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2383.2102 - mean_absolute_error: 2383.2102
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2364.6370 - mean_absolute_error: 2364.6372
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2372.6853 - mean_absolute_error: 2372.6853
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2405.7146 - mean_absolute_error: 2405.7146
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2364.2097 - mean_absolute_error: 2364.2097
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2347.4382 - mean_absolute_error: 2347.4382
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2375.7749 - mean_absolute_error: 2375.7749
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2347.7507 - mean_absolute_error: 2347.7507
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2359.7576 - mean_absolute_error: 2359.7576
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2348.8438 - mean_absolute_error: 2348.8438
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2364.9814 - mean_absolute_error: 2364.9814
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2357.9883 - mean_absolute_error: 2357.9883
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2348.4177 - mean_absolute_error: 2348.4177
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2340.4468 - mean_absolute_error: 2340.4468
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2318.5515 - mean_absolute_error: 2318.5515
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2344.9192 - mean_absolute_error: 2344.9192
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2322.6792 - mean_absolute_error: 2322.6792
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2327.8201 - mean_absolute_error: 2327.8201
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2306.6479 - mean_absolute_error: 2306.6479
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2321.5425 - mean_absolute_error: 2321.5425
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2315.6970 - mean_absolute_error: 2315.6970
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2308.3572 - mean_absolute_error: 2308.3572
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2306.8352 - mean_absolute_error: 2306.8352
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2310.6050 - mean_absolute_error: 2310.6050
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2304.0693 - mean_absolute_error: 2304.0693
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2323.9185 - mean_absolute_error: 2323.9185
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2320.3870 - mean_absolute_error: 2320.3870
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2326.7664 - mean_absolute_error: 2326.7664
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2328.8557 - mean_absolute_error: 2328.8560
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2318.4536 - mean_absolute_error: 2318.4536
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2321.8938 - mean_absolute_error: 2321.8936
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2299.4915 - mean_absolute_error: 2299.4915
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2309.8589 - mean_absolute_error: 2309.8586
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2302.7993 - mean_absolute_error: 2302.7993
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2306.0725 - mean_absolute_error: 2306.0725
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.6467 - mean_absolute_error: 2298.6467
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2291.6790 - mean_absolute_error: 2291.6790
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2305.6008 - mean_absolute_error: 2305.6008
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2306.5725 - mean_absolute_error: 2306.5725
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2291.3459 - mean_absolute_error: 2291.3459
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2292.5459 - mean_absolute_error: 2292.5459
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2309.7463 - mean_absolute_error: 2309.7466
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2293.4199 - mean_absolute_error: 2293.4199
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2305.9429 - mean_absolute_error: 2305.9429
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2287.9668 - mean_absolute_error: 2287.9668
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2293.0405 - mean_absolute_error: 2293.0405
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2301.2227 - mean_absolute_error: 2301.2227
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2288.4336 - mean_absolute_error: 2288.4333
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2273.8899 - mean_absolute_error: 2273.8901
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2298.5889 - mean_absolute_error: 2298.5889
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2294.6611 - mean_absolute_error: 2294.6611
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2301.4250 - mean_absolute_error: 2301.4248
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2290.4426 - mean_absolute_error: 2290.4426
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2279.7903 - mean_absolute_error: 2279.7903
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2292.9199 - mean_absolute_error: 2292.9199
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2277.4685 - mean_absolute_error: 2277.4685
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2285.0869 - mean_absolute_error: 2285.0869
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2286.5493 - mean_absolute_error: 2286.5493
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2267.1040 - mean_absolute_error: 2267.1040
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.6448 - mean_absolute_error: 2275.6448
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2273.9751 - mean_absolute_error: 2273.9751
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2255.8755 - mean_absolute_error: 2255.8755
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.2656 - mean_absolute_error: 2275.2656
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2266.7705 - mean_absolute_error: 2266.7705
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2262.8352 - mean_absolute_error: 2262.8352
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2266.5354 - mean_absolute_error: 2266.5356
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2265.5886 - mean_absolute_error: 2265.5886
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2256.7976 - mean_absolute_error: 2256.7976
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2279.7573 - mean_absolute_error: 2279.7573
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2250.2158 - mean_absolute_error: 2250.2158
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2240.5728 - mean_absolute_error: 2240.5728
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2245.7349 - mean_absolute_error: 2245.7349
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2250.8345 - mean_absolute_error: 2250.8345
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2276.5430 - mean_absolute_error: 2276.5430

In [118]:
previsores = regressor.predict(X)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 9s 776us/step

In [119]:
previsores

array([[ 1934.7039],
       [11562.955 ],
       [13876.744 ],
       ...,
       [ 6487.928 ],
       [ 3533.5586],
       [28148.928 ]], dtype=float32)

In [120]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

In [122]:
previsores.mean()

5864.6416

In [123]:
y.mean()

5916.833945186492